.main{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.calculator{
  display: flex;
  flex-direction: column;
  padding: 1.5em 0.1em;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  width: 400px;
  border-radius: 20px;
}

.outputPane{
  width: 75%;
  height: 150px;
  color: #ffffff;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 5em;
  text-align: right;
}

.buttonsArea{
  padding: 2em;
  gap: 1.5em;
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: #ffffff;
}

.sevenButton, .eightButton, .nineButton,  .fourButton, .fiveButton, .sixButton, .oneButton, .twoButton, .threeButton,  .zeroButton, .commaButton{
  background: linear-gradient(125deg,#8a8a8a, #535353);
  border-radius: 100%;
  padding: 1.5em;
  color: inherit;
  font-size: 1.2em;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.multiplyButton, .plusButton, .divisionButton, .equalsButton, .minusButton {
  background: linear-gradient(125deg,#e9ab38, #eb8d35);
  border-radius: 100%;
  padding: 1.5em;
  color: inherit;
  font-size: 1.2em;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.acButton, .signChangeButton, .percentButton {
  background: linear-gradient(125deg,#dddddd, #adadad);
  border-radius: 100%;
  padding: 1.5em;
  font-size: 1.2em;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.zeroButton{
  width: 7.3em;
  border-radius: 40px;
}

@media only screen and (max-width:400px) {
  .calculator{
    width: 95%;

  }

  .buttonsArea{
    padding: 2em 0.5em;
  }

  .acButton, .signChangeButton, .percentButton {
    width: 0.1em;
    height: 0.1em;
    font-size: 1.1em;
  }

  .sevenButton, .eightButton, .nineButton,  .fourButton, .fiveButton, .sixButton, .oneButton, .twoButton, .threeButton,  .zeroButton, .commaButton{
    width: 0.1em;
    height: 0.1em;
    font-size: 1.1em;
  }

  .multiplyButton, .plusButton, .divisionButton, .equalsButton, .minusButton {
    width: 0.1em;
    height: 0.1em;
    font-size: 1.1em;
  }

  .zeroButton{
    width: 7.4em;
    border-radius: 40px;
  }
}

@media only screen and (max-width:350px) {
  .calculator{
    padding: 1.5em 0.1em;
    width: 95%;
  }

  .buttonsArea{
    padding: 1.2em;
  }

  .acButton, .signChangeButton, .percentButton {
    width: 0.1em;
    height: 0.1em;
    font-size: 1em;
  }

  .sevenButton, .eightButton, .nineButton,  .fourButton, .fiveButton, .sixButton, .oneButton, .twoButton, .threeButton,  .zeroButton, .commaButton{
    width: 0.1em;
    height: 0.1em;
    font-size: 1em;
  }

  .multiplyButton, .plusButton, .divisionButton, .equalsButton, .minusButton {
    width: 0.1em;
    height: 0.1em;
    font-size: 1em;
  }

  .zeroButton{
    width: 7.5em;
    border-radius: 40px;
  }
}

@media only screen and (max-width: 340px) {
  .calculator{
    padding: 1.5em 0.1em;
    width: 95%;
  }

  .buttonsArea{
    padding: 1.2em 0.3em;
  }

  .acButton, .signChangeButton, .percentButton {
    width: 0.1em;
    height: 0.1em;
    font-size: 0.9em;
  }

  .sevenButton, .eightButton, .nineButton,  .fourButton, .fiveButton, .sixButton, .oneButton, .twoButton, .threeButton,  .zeroButton, .commaButton{
    width: 0.1em;
    height: 0.1em;
    font-size: 0.9em;
  }

  .multiplyButton, .plusButton, .divisionButton, .equalsButton, .minusButton {
    width: 0.1em;
    height: 0.1em;
    font-size: 0.9em;
  }

  .zeroButton{
    width: 7.8em;
    border-radius: 40px;
  }
}

@media only screen and (max-width: 310px) {
  .calculator{
    padding: 1.5em 0.1em;
    width: 95%;
  }

  .buttonsArea{
    padding: 1.2em;
  }

  .acButton, .signChangeButton, .percentButton {
    width: 0.1em;
    height: 0.1em;
    font-size: 0.8em;
  }

  .sevenButton, .eightButton, .nineButton,  .fourButton, .fiveButton, .sixButton, .oneButton, .twoButton, .threeButton,  .zeroButton, .commaButton{
    width: 0.1em;
    height: 0.1em;
    font-size: 0.8em;
  }

  .multiplyButton, .plusButton, .divisionButton, .equalsButton, .minusButton {
    width: 0.1em;
    height: 0.1em;
    font-size: 0.8em;
  }

  .zeroButton{
    width: 7.9em;
    border-radius: 40px;
  }

  .outputPane{
    font-size: 4em;
  }
}


@media only screen and (max-width: 300px) {

  .acButton, .signChangeButton, .percentButton {
    width: 0.1em;
    height: 0.1em;
    font-size: 0.7em;
  }

  .sevenButton, .eightButton, .nineButton,  .fourButton, .fiveButton, .sixButton, .oneButton, .twoButton, .threeButton,  .zeroButton, .commaButton{
    width: 0.1em;
    height: 0.1em;
    font-size: 0.7em;
  }

  .multiplyButton, .plusButton, .divisionButton, .equalsButton, .minusButton {
    width: 0.1em;
    height: 0.1em;
    font-size: 0.7em;
  }

  .zeroButton{
    width: 8.2em;
    border-radius: 40px;
  }
}

@media only screen and (max-width: 276px) {

  .acButton, .signChangeButton, .percentButton {
    width: 0.1em;
    height: 0.1em;
    font-size: 0.6em;
  }

  .sevenButton, .eightButton, .nineButton,  .fourButton, .fiveButton, .sixButton, .oneButton, .twoButton, .threeButton,  .zeroButton, .commaButton{
    width: 0.1em;
    height: 0.1em;
    font-size: 0.6em;
  }

  .multiplyButton, .plusButton, .divisionButton, .equalsButton, .minusButton {
    width: 0.1em;
    height: 0.1em;
    font-size: 0.6em;
  }

  .zeroButton{
    width: 8.2em;
    border-radius: 40px;
  }

  .outputPane{
    font-size: 3em;
  }
}

@media only screen and (max-width: 255px) {

  .acButton, .signChangeButton, .percentButton {
    width: 0.1em;
    height: 0.1em;
    font-size: 0.5em;
  }

  .sevenButton, .eightButton, .nineButton,  .fourButton, .fiveButton, .sixButton, .oneButton, .twoButton, .threeButton,  .zeroButton, .commaButton{
    width: 0.1em;
    height: 0.1em;
    font-size: 0.5em;
  }

  .multiplyButton, .plusButton, .divisionButton, .equalsButton, .minusButton {
    width: 0.1em;
    height: 0.1em;
    font-size: 0.5em;
  }

  .zeroButton{
    width: 9em;
    border-radius: 40px;
  }
}

